@charset "utf-8";
/* CSS Document */
.b1{padding:10px;
width:1000px;
height:650px;
}

.a1{background-color:#09F;
height:70px;
width:1000px}

.a2{background-color:#0F9;
height:30px;
width:1000px;
margin-top:10px;}

.c1{width:1000px;
height:450px;
margin-top:10px;}

.c2{background-color:#FC0;
width:310px;
height:200px;
float:left;
margin:10px;}

.c3{background-color:#666;
height:70px;
width:1000px;
margin-top:10px;}